
/* ================================================== */
/* 
/* VK Redesigned App
/* http://vk.com/vkredesigned
/* 
================================================== */


/* УВЕЛИЧИВАЕМ ШРИФТ
================================================== */

.font_medium.redesigned,
.font_medium.redesigned #page_body 								{ font-family: Helvetica, Arial, sans-serif; font-size: 13px; }
.font_medium.redesigned .post_like,
.font_medium.redesigned .wall_module .info_footer,
.font_medium.redesigned .post_share,
.font_medium.redesigned .wall_module .reply_link_wrap 			{ font-size: 12px; }

/* УВЕЛИЧИВАЕМ ШИРИНУ
================================================== */

.font_medium.redesigned #page_layout 							{ width: 990px!important; }
.font_medium.redesigned #footer_wrap,
.font_medium.redesigned #page_body 								{ width: 800px!important; }
.font_medium.redesigned ul.t0 									{ width: 100%; }
.font_medium.redesigned .narrow_column 							{ width: 240px; }
.font_medium.redesigned #content .wide_column 					{ width: 525px; }

/* УВЕЛИЧИВАЕМ ШАПКУ
================================================== */

.font_medium.redesigned #page_header 							{ height: 55px; }
.font_medium.redesigned #top_logo_down 							{ opacity: 0; }
.font_medium.redesigned #page_header:before 					{ content: ""; display: block; width: 20px; height: 55px; position: absolute; left: -15px; border-radius: 0 0 0 17px; }
.font_medium.redesigned #page_header:after 						{ content: ""; display: block; width: 20px; height: 55px; position: absolute; right: -15px; border-radius: 0 0 17px 0; }
.font_medium.redesigned .head_nav a.top_nav_link   				{ padding: 20px 15px 21px; font-size: 13px; color: #E8EFF7; }
.font_medium.redesigned .head_nav a.top_nav_link:hover 			{ color: #fff; }
.font_medium.redesigned #head_play_btn 							{ top: 17px; }
.font_medium.redesigned #ts_wrap 								{ height: 41px; left: 172px; }
.font_medium.redesigned div.ts 									{ border-radius: 50px; }
.font_medium.redesigned #top_back_link 							{ margin-left: 30px; background-position: left -75px; max-width: 260px!important; }
.font_medium.redesigned div.ts_input_wrap 						{ width: 180px; left: 12px; }

/* ПРОФИЛЬ
================================================== */

.font_medium.redesigned #left_blocks                            { width: 140px; margin-top: 30px; }
.font_medium.redesigned .left_box.attention                     { position: relative; padding: 0; overflow: visible; }
.font_medium.redesigned .left_box.attention:before,
.font_medium.redesigned .left_box.attention:after 				{ position: absolute; display: block; left: 20px; top: -5px; height: 5px; width: 20px; background: #F1F1F1; content: ""; }
.font_medium.redesigned .left_box.attention:after               { right: 20px; left: auto; }
.font_medium.redesigned .left_box.attention div                 { padding: 8px 10px 8px 10px }
.font_medium.redesigned .left_box.attention h4                  { padding: 14px 10px 14px 10px; border-bottom: solid 1px #EEE; background: #F1F1F1; margin: 0; }

.font_medium.redesigned #side_bar .left_row 					{ padding: 3px 0 3px 10px!important; border-radius: 3px; }
.font_medium.redesigned #side_bar ol li .left_row:hover .left_count_wrap { padding: 8px 6px !important; top: -2px; position: relative; }
.font_medium.redesigned #side_bar ol li 						{ margin: 3px 0; }

.font_medium.redesigned .profile_info_link,
.font_medium.redesigned #profile_groups_link 						{ padding-left: 146px; }

.font_medium.redesigned #profile_full_info h4 b 					{ font-size: 14px }
.font_medium.redesigned #header 									{ padding: 9px 10px; background: #E8EDF3; font-size: 13px; border-color: #D9E0E7; }
.font_medium.redesigned #profile .rate_line .rate_left 				{ border-left: 40px solid #DEE5EB; }
.font_medium.redesigned #profile_actions,
.font_medium.redesigned .profile_rate_warning  						{ width: 220px; } 
.font_medium.redesigned .p_header_bottom,
.font_medium.redesigned #profile .narrow_column .header_top 		{ padding: 8px 10px; border: 0px; }
.font_medium.redesigned .narrow_column .people_module .people_row  	{ width: 240px; }
.font_medium.redesigned .module_body .people_cell 					{ width: 80px; }
.font_medium.redesigned .module_body .people_cell .ava  			{ margin: 0px 13px; }
.font_medium.redesigned .module_body .people_cell .name_field 		{ margin: 0px -112px; font-size: 13px }
.font_medium.redesigned small 										{ font-size: 12px }
.font_medium.redesigned #profile .narrow_column .module_body 		{ }
.font_medium.redesigned #profile_idols.page_list_module .line_cell .desc_info { width: 175px; padding-top: 2px}
.font_medium.redesigned .wide_column .module_header .header_top 	{ padding: 8px 10px; }
.font_medium.redesigned .profile_info 								{ line-height: 180%; font-size: 13px; }
.font_medium.redesigned .profile_info .label 						{ width: 140px; }
.font_medium.redesigned .profile_info .labeled 						{ width: 370px; }
.font_medium.redesigned .video_module .video img 					{ width: 220px; height: 160px; }
.font_medium.redesigned .video_module .video 						{ width: 220px; height: 160px; }
.font_medium.redesigned  #public #subscribe,
.font_medium.redesigned  #public #unsubscribe,
.font_medium.redesigned  #public #unshare,
.font_medium.redesigned .video_module .video div 					{ width: 220px; }
.font_medium.redesigned #page_header .input_back 					{ font-size: 13px; padding: 11px 41px 3px 15px!important; }
.font_medium.redesigned .page_name 									{ color: #4C6B8F; }
.font_medium.redesigned .wall_module #submit_post_box textarea 	     { width: 505px!important; box-sizing: border-box; padding: 11px; height: 40px; }
.font_medium.redesigned .post_upload_wrap 							 { top: 2px; }
.font_medium.redesigned #profile_photos_module .header_top.clear_fix { margin-bottom: 10px; }
.font_medium.redesigned .video_module .info.clear 					 { font-weight: bold; margin-top: 175px; margin-bottom: 5px; font-size: 12px; }
.font_medium.redesigned #group_photos .profile_sized_photos,
.font_medium.redesigned #profile_photos 							 { zoom: 1.32; }
.font_medium.redesigned .page_album_row 							 { zoom:1.2; }
.font_medium.redesigned .page_album_camera,
.font_medium.redesigned .page_album_title,
.font_medium.redesigned .page_album_description 					 { font-size: 11px}

/* ПОСТ
================================================== */

.font_medium.redesigned .post .wall_text,
.font_medium.redesigned .post .wall_post_text,
.font_medium.redesigned .post .post_info 							{ width: 450px!important }
.font_medium.redesigned .post .wall_post_text 						{ line-height: 175%!important; }

/* ПРОКРУТКА
================================================== */

.font_medium.redesigned #content .wide_column.scroll 				{ width: 775px; }

.font_medium.redesigned .feed_row .post .wall_text,
.font_medium.redesigned .feed_row .post .wall_post_text,
.font_medium.redesigned .feed_row .post .post_info,
.font_medium.redesigned .post.scroll .wall_text,
.font_medium.redesigned .post.scroll .wall_post_text,
.font_medium.redesigned .post.scroll .post_info 					{ width: 675px!important }

/* ТАБЫ
================================================== */

.font_medium.redesigned ul.t0 .tab_word 								{ padding: 2px 1px; }
.font_medium.redesigned .summary_tab3	 								{ font-weight: normal; padding: 3px 2px 4px; }
.font_medium.redesigned .feed_tab_add .summary_tab3 					{ padding: 3px 2px 5px; }
.font_medium.redesigned .summary_tab,
.font_medium.redesigned .summary_tab_sel 								{ margin-top: 5px; }
.font_medium.redesigned .t_bar 											{ border-width: 2px; }
.font_medium.redesigned #video_search,
.font_medium.redesigned #friends_search,
.font_medium.redesigned #groups_list_search_wrap,
.font_medium.redesigned #im_bar,
.font_medium.redesigned #feed_bar 										{ padding: 15px 10px 15px!important; background: #F0F1F3; }
.font_medium.redesigned .summary_wrap .summary 							{ padding-bottom: 9px}
.font_medium.redesigned .summary_tab,
.font_medium.redesigned .summary_tab_sel 								{ padding-left: 3px; padding-right: 3px; }
.font_medium.redesigned .search_subtab2 								{ font-weight: normal; padding: 5px 10px 6px; }
.font_medium.redesigned .im_tab3 										{ font-weight: normal; padding: 2px 3px; }
.font_medium.redesigned .summary_tab2 									{ border-radius: 3px; }


/* ГРУППА
================================================== */

.font_medium.redesigned.wide_column .big_header,
.font_medium.redesigned .wide_column .top_header   						{ font-size: 15px; }
.font_medium.redesigned #page_current_info 		   						{ font-size: 13px; }
.font_medium.redesigned .module_header .header_top 						{ padding: 8px 10px; }
.font_medium.redesigned .wall_fixed .wall_post_text,
.font_medium.redesigned .wall_fixed .wall_module .post_media,
.font_medium.redesigned .wall_fixed .wall_module .post_info,
.font_medium.redesigned .wall_fixed .wall_module .wall_text 			{ width: 520px!important; }

.font_medium.redesigned div.fw_post_info 								{ width: 700px; }
.font_medium.redesigned #fw_post .wall_text,
.font_medium.redesigned #fw_post .wall_post_text,
.font_medium.redesigned .page_post_sized_thumbs,
.font_medium.redesigned #fw_post .post_media 							{ width: 700px; }
.font_medium.redesigned .post_media 									{ width: 100%; }
.font_medium.redesigned .fw_reply_text 									{ width: 570px; }
.font_medium.redesigned #fw_one_replies_wrap 							{ padding-right: 80px; }

.font_medium.redesigned #ba_post_sh,
.font_medium.redesigned #ba_post_border 								{ width: 100%; }
.font_medium.redesigned #ba_post 										{ width: 766px; }
.font_medium.redesigned .board_post_open #ba_text						{ width: 670px; }
.font_medium.redesigned #ba_text 										{ width: 750px; }
.font_medium.redesigned .bp_post 										{ width: 730px; }
.font_medium.redesigned .bp_text 										{ width: 640px; }
.font_medium.redesigned .group_l_row 									{ width: 770px!important; }

/* ИЗОБРАЖЕНИЯ
================================================== */

.font_medium.redesigned #photos_albums_container .photo_row 			{ zoom: 0.85; }
.font_medium.redesigned #photos_albums .photo_album_title div 			{ font-size: 14px; }
.font_medium.redesigned #photos_albums .photo_album_title div 			{ font-size: 14px;}
.font_medium.redesigned #photos_albums .photo_album_title 				{ padding: 8px 0px 14px; margin-top: 155px!important; }


/* ВИДЕОЗАПИСИ
================================================== */

.font_medium.redesigned .video_image_div 			{ width: 270px; height: 176px; }
.font_medium.redesigned .video_row_cont 			{ height: 178px; width: 250px; }
.font_medium.redesigned .video_row_inner_cont 		{ height: 176px; width: 254px; overflow: hidden; }
.font_medium.redesigned .video_row_duration,
.font_medium.redesigned .video_raw_info_name 		{ font-size: 12px; }
.font_medium.redesigned .video_row_info_line 		{ width: 239px; }

.font_medium.redesigned .video_album_bg,
.font_medium.redesigned .video_album_row_inner,
.font_medium.redesigned .video_album 				{ height: 159px; width: 253px; }
.font_medium.redesigned .video_album_info 			{ width: 237px; }

.font_medium.redesigned .fave_video_duration_cont 	{ width: 245px; }
.font_medium.redesigned .fave_video_item 			{ width: 245px; overflow: hidden; height: 180px; }
.font_medium.redesigned .fave_video_info 			{ width: 239px; margin-top: 164px; overflow: hidden; }

/* СООБЩЕНИЯ
================================================== */

#im_top_sh,
#im_bottom_sh,
.im_fixed_nav #im_controls_wrap,
.im_fixed_nav #im_nav_wrap  										{ width: 796px!important; }
.im_fixed_nav #page_header  										{ width: 990px!important; }
.im_fixed_nav #im_nav_wrap,
.im_fixed_nav #side_bar 											{ top: 55px!important; }
.font_medium.redesigned #im_peer_controls 							{ padding-left: 100px; }
.font_medium.redesigned .im_editable 								{ width: 460px; }

/* АУДИОЗАПИСИ
================================================== */

#ac .shadow div,
.audio_fixed_nav #ac 								{ width: 796px!important; }
.audio_search .s_search 							{ width: 418px!important; }
#ac .info 			 								{ width: 587px!important; }
#ac .ac_name 										{ max-width: 400px!important; }

.audio_fixed_nav #side_bar,
.audio_fixed_nav #ac 								{ top: 55px!important; }
.audio_fixed_nav #page_header  						{ width: 990px!important; }
#audio.new 											{ padding-top: 102px!important; }

.font_medium.redesigned #audio.new .area 			  		{ width: 590px }
.font_medium.redesigned #audio.new .audio .info		  		{  width: 555px}
.font_medium.redesigned #audio.new .audio .title_wrap 		{ width: 467px; }
.font_medium.redesigned .narrow_column .audio .title_wrap 	{ width: 170px;}

/* КОММЕНТАРИИ
================================================== */

.font_medium.redesigned .wall_module .reply_info 					{ width: 400px; }
.font_medium.redesigned .wall_module .wall_reply_text 				{ width: 350px; }

.font_medium.redesigned .scroll .reply_info 						{ width: 600px; }
.font_medium.redesigned .scroll .wall_reply_text 					{ width: 580px; }

/* ДРУГИЕ СТРАНИЦЫ
================================================== */

.font_medium.redesigned #friends .main_panel 						{ width: 595px; }
.font_medium.redesigned .settings_section h2,
.font_medium.redesigned .settings_privacy_header, 
.font_medium.redesigned .setbal_section h2 							{ font-weight: normal; }
.font_medium.redesigned #mv_comment 								{ width: 95%; }
.font_medium.redesigned #search_query_wrap.wide #search_query,
.font_medium.redesigned #fave_new_link 								{ width: 615px; }
.font_medium.redesigned .search_catalog_row.selected   				{ border-radius: 2px; }
.font_medium.redesigned .summary_tab3 								{ font-size: 13px}
.font_medium.redesigned .fave_link_item 							{ width: 96%; }
.font_medium.redesigned .pv_cont .wide_column  						{ width: 320px }
.font_medium.redesigned #pv_comment 								{ width: 300px; }
.font_medium.redesigned .pv_comment 								{ width: 320px; }
.font_medium.redesigned .pv_commtext,
.font_medium.redesigned .pv_commtext,
.font_medium.redesigned .pv_comm 									{ width: 260px; }
.font_medium.redesigned #pv_box 									{ font-size: 12px; }
.font_medium.redesigned .big_wall_post #submit_post_box textarea 	{ width: 750px; }
.font_medium.redesigned .mv_cont .narrow_column,
.font_medium.redesigned .pv_cont .narrow_column 					{ width: 190px; }
.font_medium.redesigned #mv_comments_data .wide_column 				{ width: 480px; }
.font_medium.redesigned #fwr_text 									{ width: 665px; }
.font_medium.redesigned .wide_wall_module .group_share .info, 
.font_medium.redesigned .wide_wall_module .event_share .info,
.font_medium.redesigned .wide_wall_module .group_checkin .info 		{ width: 355px; }
.font_medium.redesigned .docs_empty,
.font_medium.redesigned .docs_item 									{ width: 100%; max-width: 100%; }

.font_medium.redesigned #feed_menu 									{ left: auto; right: 0; }

/* ИГРЫ
================================================== */

.font_medium.redesigned #apps_ads_rows_wrap,
.font_medium.redesigned #apps_new_rows_scroll,
.font_medium.redesigned #apps_ads_rows_scroll,
.font_medium.redesigned #apps_friends_rows_scroll,
.font_medium.redesigned .apps_collection_rows_scroll,
.font_medium.redesigned #apps_grossing_rows_scroll, 
.font_medium.redesigned #apps_search_cat_wrap.apps_scroll_wrap #app_search_scroll,
.font_medium.redesigned #apps_search_wrap 							{ width: 796px!important; overflow: hidden; }


/* ПОМОЩЬ
================================================== */

.font_medium.redesigned .tickets_reply_text							{ width: 685px; }
