
/* ================================================== */
/* 
/* VK Redesigned
/* http://vk.com/vkredesigned
/* 
================================================== */


/* УВЕЛИЧИВАЕМ ШРИФТ
================================================== */

.wk_large_cont,
html .font_medium input[type="text"],
html .font_medium input[type="submit"],
html .font_medium input[type="button"],
html .font_medium input[type="search"],
html .font_medium input[type="password"],
html .font_medium input[type~="text"], 
html .font_medium input[type~="search"],
html .font_medium input[type~="password"],
html .font_medium input[type~="email"],
html .font_medium input.text,
html .font_medium input.search,
html .font_medium textarea,
html .font_medium input.big_text,
html .font_medium input.file,
html body.font_medium,
html body.font_medium #page_body 							{ font-family: Arial, Helvetica, sans-serif; }
html body.font_medium,
html .font_medium #page_current_info,
html body.font_medium #page_body 							{ font-size: 13px; }
html .font_medium .post_like,
html .font_medium .wall_module .info_footer,
html .font_medium .wall_module .like_wrap,
html .font_medium .post_share,
html .font_medium #mv_min_layer,
html .font_medium .wall_module .reply_link_wrap 			{ font-size: 12px; }

/* УВЕЛИЧИВАЕМ ШИРИНУ
================================================== */

.font_medium #page_layout 									{ width: 990px!important; }
.font_medium #footer_wrap,
.font_medium #page_body 									{ width: 800px!important; }
html .font_medium ul.t0 									{ width: 100%; }
html .font_medium .narrow_column 							{ width: 240px; }
html .font_medium #content .wide_column 					{ width: 525px; }

/* УВЕЛИЧИВАЕМ ШАПКУ
================================================== */

html .font_medium #page_header 								{ height: 55px; }
html .font_medium #top_logo_down 							{ opacity: 0; }
html .font_medium #page_header:before 						{ content: ""; display: block; width: 20px; height: 55px; position: absolute; left: -15px; border-radius: 0 0 0 17px; }
html .font_medium #page_header:after 						{ content: ""; display: block; width: 20px; height: 55px; position: absolute; right: -15px; border-radius: 0 0 17px 0; }
html .font_medium .head_nav a.top_nav_link   				{ padding: 20px 15px 21px; font-size: 13px; color: #E8EFF7; }
html .font_medium .head_nav a.top_nav_link:hover 			{ color: #fff; }
html .font_medium #head_play_btn 							{ top: 17px; }
html .font_medium #ts_wrap 									{ height: 41px; left: 172px; }
html .font_medium div.ts 									{ border-radius: 50px; }
html .font_medium #top_back_link 							{ margin-left: 30px; background-position: left -75px; max-width: 260px!important; }
html .font_medium div.ts_input_wrap 						{ width: 190px; left: 23px; }

/* САЙДБАР
================================================== */

html .font_medium #left_blocks                            	{ width: 140px; margin-top: 30px; }
html .font_medium .left_box.attention                     	{ position: relative; padding: 0; overflow: visible; }
html .font_medium .left_box.attention:before,
html .font_medium .left_box.attention:after 				{ position: absolute; display: block; left: 20px; top: -5px; height: 5px; width: 20px; background: #F1F1F1; content: ""; }
html .font_medium .left_box.attention:after              	{ right: 20px; left: auto; }
html .font_medium .left_box.attention div                 	{ padding: 8px 10px 8px 10px }
html .font_medium .left_box.attention h4                  	{ padding: 14px 10px 14px 10px; border-bottom: solid 1px #EEE; font-size: 13px; background: #F1F1F1; margin: 0; }

html .font_medium #side_bar .more_div 						{ margin: 10px 0; }
html .font_medium #side_bar .left_row 						{ padding: 3px 0 3px 10px!important; border-radius: 3px; }
html .font_medium #side_bar ol li .left_row:hover .left_count_wrap { padding: 8px 6px!important; top: -2px; position: relative; }
html .font_medium #side_bar ol li 							{ margin: 3px 0; }

html .font_medium #left_ads 								{ width: 140px; }
html .font_medium .profile_info_link,
html .font_medium #profile_groups_link 						{ padding-left: 146px; }

/* САЙДБАР ПРОФИЛЯ И ГРУППЫ
================================================== */

html .font_medium #public #subscribe,
html .font_medium #public #unsubscribe,
html .font_medium #public #unshare,
html .font_medium #profile_main_actions 					 { padding-right: 10px; padding-left: 10px; }

html .font_medium .post_upload_wrap 						 { top: 2px; }
html .font_medium #profile_photos_module .header_top.clear_fix { margin-bottom: 10px; }
html .font_medium .video_module .info.clear 				 { font-weight: bold; margin-top: 170px; margin-bottom: 5px; font-size: 12px; }
html .font_medium #group_photos .profile_sized_photos 		 { transform: scale(1.31); height: 100px; margin: 20px 0 10px 65px;  }
html .font_medium #profile_photos 							 { transform: scale(1.32); margin: 20px 0 20px 62px;  }
html .font_medium .page_photo_thumb_big,
html .font_medium .page_album_title_wrap,
html .font_medium .page_album_row 							 { width: 210px; max-width: 210px; }
html .font_medium .page_album_camera,
html .font_medium .page_album_title,
html .font_medium #owner_photo_bubble_wrap,
html .font_medium #page_avatar,
html .font_medium .page_album_description 					 { font-size: 12px;}
html .font_medium #owner_photo_bubble_wrap 					 { margin-right: auto; margin-left: auto; }

html .font_medium .video_module .video img 					 { width: 210px; height: 155px; }
html .font_medium .video_module .video 						 { width: 210px; height: 155px; }
html .font_medium #public #subscribe,
html .font_medium #public #unsubscribe,
html .font_medium #public #unshare,
html .font_medium .page_actions a,
html .font_medium #group_like_module,
html .font_medium .group_block_module,
html .font_medium #profile_main_actions,
html .font_medium .video_module .video div 					 { width: 210px; }
html .font_medium #profile .rate_line,
html .font_medium #profile_actions a,
html .font_medium #group .page_actions		 				 { width: 220px; }
html .font_medium #group .page_actions,
html .font_medium #public .page_actions,
html .font_medium #public .like_module,
html .font_medium #profile_actions,
html .font_medium .profile_rate_warning,
html .font_medium #owner_photo_bubble,
html .font_medium #page_avatar,
html .font_medium #page_avatar img,
html .font_medium .owner_photo_bubble_action,
html .font_medium #owner_photo_bubble_wrap,
html .font_medium #owner_photo_wrap,
html .font_medium #gifts_count_module,
html .font_medium .profile_rate_warning .warning_row,
html .font_medium #profile_counts 							 { width: 230px; }
html .font_medium #page_avatar img 							 { height: auto; }
html .font_medium #group .page_actions,
html .font_medium #public .page_actions,
html .font_medium #group_like_module,
html .font_medium #group #page_avatar,
html .font_medium #public #page_avatar,
html .font_medium .group_block_module,
html .font_medium #group #owner_photo_bubble_wrap,
html .font_medium #public #owner_photo_bubble_wrap,
html .font_medium #public .like_module 						{ margin-left: 10px; }


/* ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ
================================================== */

html .font_medium #profile_full_info h4 b 					{ font-size: 14px }
html .font_medium #header 									{ padding: 9px 10px; background: #E8EDF3; font-size: 13px; border-color: #D9E0E7; }
html .font_medium #profile .rate_line .rate_left 			{ border-left: 20px solid #DEE5EB; }
html .font_medium .p_header_bottom,
html .font_medium #profile .narrow_column .header_top 		{ padding: 8px 10px; border: 0px; }
html .font_medium .narrow_column .people_module .people_row { width: 240px; }
html .font_medium .module_body .people_cell 				{ width: 75px; }
html .font_medium .module_body .people_cell .ava  			{ margin: 0px 13px; }
html .font_medium .module_body .people_cell .name_field 	{ margin: 0px -112px; font-size: 13px }
html .font_medium small 									{ font-size: 12px }
html .font_medium .wide_column .module_header .header_top 	{ padding: 8px 10px; }
html .font_medium .profile_info 							{ line-height: 180%; font-size: 13px; }
html .font_medium .profile_info .label 						{ width: 140px; }
html .font_medium .profile_info .labeled 					{ width: 370px; }
html .font_medium #page_header .input_back 					{ font-size: 13px; padding: 11px 41px 3px 15px!important; }
html .font_medium .page_name 								{ color: #4C6B8F; }
html .font_medium .wall_module #submit_post_box textarea 	{ width: 505px!important; box-sizing: border-box; min-height: 24px; }
html .font_medium .wall_module #submit_post_box .input_back { padding: 3px 4px!important; }

/* ПОСТ
================================================== */

html .font_medium .post .wall_text,
html .font_medium .post .wall_post_text,
html .font_medium .post .wall_text_name,
html .font_medium .post .post_info 							  { width: 450px!important }
html .font_medium .post .wall_post_text 					  { line-height: 175%!important; }

/* ПРОКРУТКА
================================================== */

html .font_medium .wide_wall_module .wall_text,
html .font_medium .wide_wall_module .wall_post_text,
html .font_medium .wide_wall_module .post_info 							{ width: 675px!important; }
html .font_medium .wide_wall_module .reply_info,
html .font_medium .wide_wall_module .wall_reply_text 					{ width: 600px!important; }
html .font_medium .wide_wall_module .post 								{ width: 775px!important; }
html .font_medium .page_wide_no_narrow .wide_column 					{ width: 775px!important; }

/* НОВЫЕ КНОПКИ
================================================== */

html .font_medium .button_blue button,
html .font_medium .button_blue.button_disabled button:active,
html .font_medium .button_blue.button_disabled button.active,
html .font_medium .button_blue.button_disabled button:hover,
html .font_medium .button_blue.button_disabled button.hover 		{ padding-top: 8px; padding-bottom: 8px; s}
html .font_medium .post_media_link_preview_wrap button 				{ padding: 6px 10px; }
html .font_medium .wdd_add3 										{ height: 20px; }
html .font_medium .wdd_add2 										{ margin: 4px; }
html .font_medium .profile_msg_split .cut_left 						{ width: 177px; }

html .font_medium .narrow_column .module_body 		 				{ border: 0!important; }
html .font_medium #profile .narrow_column .module 					{ border-right: 1px solid #f1f1f1; padding-right: 10px; }
html .font_medium #group .narrow_column .module 					{ border-left: 1px solid #f1f1f1; padding-left: 10px; }
html .font_medium #public .narrow_column .module 					{ border-left: 1px solid #f1f1f1; padding-left: 10px; }